name: test

on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest

    steps:
      - uses: actions/checkout@v2

      - name: build and test mypkg
        shell: bash
        run: |
          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          source /opt/ros/humble/setup.bash
          colcon build --packages-select mypkg
          bash src/mypkg/test/test.bash

